/*
 * Main stylesheet
 *
 * @version $Id$
 */
@CHARSET "UTF-8";

/* common */
body, html {
    height: 100%;
}

body {
    font: .75em Verdana, sans-serif; /*12px is font-size for main content. Base font size*/
    color:#000;
    background: rgb(255,254,221);
}

a {color: #79b1d4;}

a img {
    border:none;
}

input[type="text"], input[type="password"], select, textarea {
    font-size: 100%;
    font-family: verdana, sans-serif;
    border: 1px black solid;
}

ul,li,h1,h2,h3,h4,h5,h6,pre,form,blockquote,fieldset,dl,dt,dd,caption {margin:0; padding:0;}
ul {list-style: none;}
pre,code {font-size: 1em;}

h1, h2, h3, h4, h5, h6 {
    color:#999999;
    font-family:Verdana,sans-serif;
    font-weight:normal;
    margin:0 0 0.5em;
    padding:0;
}

h1 {
    font-size:162.5%;
    letter-spacing:-1px;
    margin-bottom:0.7em;
}

h2 {
    font-size:150%;
}

h3 {
    font-size: 137.5%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 110%;
}

h6 {
    font-size: 100%;
}

table {border-collapse: collapse;}

blockquote {
    border-left:2px solid #bbb;
    margin: .83em 0;
    padding-left:15px;
    clear: both;
}

/*
 * Main layout
 */

.left-col {
    position: absolute;
    top: 0px;
}

.login, .navigation {
    position: relative;
    margin-top: 20px;
    width: 150px;
    overflow: hidden;
}

.full-width .login {
    width: 500px;
}

.login form table {
    width: 100%;
    padding-right: 5px;
}

.login form table input {
    width: 100%;
}

.login form table td.label {
    text-align: right;
}

.main-container {
    position: relative;
    margin-left: 150px;
}

.content {
    padding: 5px;
    position: relative;
    background: white;
    border: #000 solid 1px;
    border-top-width: 0px;
    border-right-width: 3px;
    border-bottom-width: 3px
}

.full-width {
    margin-left: 0;
}

.editor {
    width: 100%;
    padding: 5px;
}

.error {
    color: #f00;
}

.photo-placeholder {
    float: left;
    position: relative;
    clear: none;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
}

.photo-image {
    float: left;
    position: relative;
    clear: none;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
    overflow: hidden;
}

.cover-border-left {
    border: 0px;
    border-left: 5px solid black;
    border-top: 5px solid white;
    position: absolute;
    right: -5px;
    top: -1px;
    width: 0px;
    bottom: -5px;
}
.cover-border-bottom {
    border: 0px;
    border-left: 5px solid white;
    border-top: 5px solid black;
    position: absolute;
    bottom: -5px;
    left: -1px;
    height: 0px;
    right: -5px;
}

.cover-placeholder {
    float: left;
    position: relative;
    clear: none;
    width: 148px;
    height: 210px;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f0f0ff;
}

/*
 * Auth block
 */

.auth-info {
    padding-top: 10px;
}

/*
 * Form
 */
ul.buttons-list {
    display: inline;
}

ul.buttons-list li {
    display: inline;
}

/*
 * Top menu
 */

ul.top-menu-left {
    display: block;
    position: relative;
    padding: 6px;
    padding-left: 10px;
    border-bottom: black solid 1px;
}

ul.top-menu-right {
    display: block;
    position: relative;
    padding: 2px;
    padding-right: 10px;
    margin-top: 8px;
    float: right;
    z-index: 1000;
}

ul.top-menu-left li, ul.top-menu-right li {
    background: white;
    border: black solid 1px;
    border-bottom-width: 0px;
    display: inline;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    color: black;
}

ul.top-menu-left li {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

ul.top-menu-right li {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

ul.top-menu-left li:hover, ul.top-menu-right li:hover {
    background: #eeeeee;
}

ul.top-menu-left li.selected, ul.top-menu-right li.selected {
    background: white;
    border-bottom: white solid 1px;
}

/*
 * Author titles block
 */
.author-titles {
    clear: both;
}

.author-titles .header {
    background-color: #dddddd;
}

.author-titles .body {
}

/*
 * Profile info
 */
.profile-info {
    clear: both;
    margin-bottom: 10px;
}

.profile-info .header {
    background-color: #dddddd;
}

.profile-info .header .edit {
    float: right;
}

.profile-info .body {
}

.navigation-link {
    background: white;
    border: black solid 1px;
    border-bottom-width: 2px;
    border-right-width: 0px;
    display: block;
    margin-bottom: 1px;
    margin-left: 3px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navigation-link:hover {
    background: #eeeeee;
}

.writeboard #writeboard-input {
    display: none;
}

.writeboard textarea {
    width: 100%;
}

.writeboard .messages .message {
    border-bottom: black solid 1px;
}

.writeboard .messages .message .message-user {
    font-weight: bold;
}

.writeboard .messages .message .message-date {
    float: right;
    font-weight: bold;
}

/*
 * Title marks
 */
.title-mark a {
    text-decoration: none;
    color: black;
}

.title-mark a.mark-2:hover, .title-mark a.mark-2.selected {
    background-color: #800000;
    color: white;
}

.title-mark a.mark-1:hover, .title-mark a.mark-1.selected {
    background-color: #804000;
    color: white;
}

.title-mark a.mark0:hover, .title-mark a.mark0.selected {
    background-color: #808000;
    color: white;
}

.title-mark a.mark1:hover, .title-mark a.mark1.selected {
    background-color: #408000;
    color: white;
}

.title-mark a.mark2:hover, .title-mark a.mark2.selected {
    background-color: #008000;
    color: white;
}

.title-mark a.markremove {
    display: none;
}

.title-mark a.markremove:hover {
    background-color: black;
    color: white;
}

/*
 * Users
 */
table.users > tbody > tr > td {
    border: 1px solid black;
}

/*
 * Wiki
 */

table.compare-revision {
    width:100%;
    border-spacing: 1px;
    border-collapse: separate;
}

table.compare-revision td {
    background-color: #f0f0f0;
}

table.compare-revision td.line-number {
    background-color: #c0c0c0;
}


table.compare-revision td.changes-add {
    background-color: #008000;
}


table.compare-revision td.changes-delete {
    background-color: #800000;
}